<div class="news">
  {% if site.data.news %}
    <div class="news-container">
      <ul class="news-list">
        {% for item in site.data.news %}
          <li class="news-item">
            <span class="news-date">[{{ item.date | date: "%b %Y" }}]</span>
            <span class="news-content">
              {{ item.content | markdownify | remove: '<p>' | remove: '</p>' | emojify }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
